table {
 border-collapse: collapse;
 width: 100%;
}

th, td {
 border: 1.7px solid black;
 text-align: center;
}
th {
    background-color: #8842d5;
    color: black;
}
tr:nth-child(even) {
    background-color: skyblue;
}